<!DOCTYPE html>
 <html>
   <head>
     <title>Hello!</title>
     <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
   </head>
 <body>
  <h1>Online assembler (fasm - <a href="http://flatassembler.net/">http://flatassembler.net/</a>)</h1>
  <textarea id="ddd"></textarea>
  <button onclick="aaa();">Save</button>
  <script>
function aaa()
{
 var data = document.getElementById("ddd").value;
 $.get('http://fasm.herokuapp.com/compileasm?data='+data,,function(err){console.log(err)});
}
  </script>
  </body>
  </html>
